@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oxanium:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



html, body {
    overflow-x: hidden;
}

body{
    font-family: "Montserrat";
    position: relative;
    hyphens: auto;
    
}

/* nav bar */

header {
    background-color: #F9D74D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
.logo {
    display: flex;
    align-items: center;
}
  
.logo img {
    width: 99px;
    height: 50px;
    margin-right: 10px;
}
  
nav {
      display: none;
}
  
.hamburger-menu {
    display: block;
    padding-left: 30px;
}
  
.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
    border-radius: 5px;
}
  


.logo {
      margin-left: 20px;
}
  

  

.nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    margin: 0 42px;
    transition: all 0.3s ease-in-out;
    display: block;
    padding: 10px  
    
}
  
.nav-link:hover{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

#iconer{
    justify-content: space-between;
    
    
}

#kontrolnav{
    display: flex;
   
}


/* burgermenu nav */

#burgerside{
    width:100%;
    font-size:15pt;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center; 
    background-color: #F9D74D;
}

#burgerside a{
    text-decoration:none;
    color:black;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid black;
    width:100%;
    display:flex;
    justify-content:center;  
}
#burgerside a:hover {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
     
}

/* main */

/* video og tekst foran */

.stemningsvideo {
    position: relative;
    
  

}

  
video {
    
    display: block;
}

  
.stemningsvideo h1 {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 6vw;
  color: #F9D74D;
  width: 60%;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  opacity: 0.7;
}



  
/* kunstnernavne display */

#kunstnernavne {
 
  width: 100%;
  overflow: hidden;
  background-color: #F2F2F2;
 
}

#navne {
  white-space: nowrap;
  animation: kunstner 20s linear infinite;
  font-size: 3vw;
  padding-top: 8px;
  padding-bottom: 8px;
  

}

#linje{
	border-bottom: black solid 2px; 
	width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

#navne2 {
  
  white-space: nowrap;
  animation: kunstner2 20s linear infinite ;
  font-size: 3vw;

}

@-webkit-keyframes kunstner {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes kunstner2 {
    from { -webkit-transform: translateX(0%); }
    to { -webkit-transform: translateX(-100%); }
    
}

/* program */

#program{
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px;
}

#program h1{
    font-size: 8vw;
}

.plakatlaptop{
    display: none;
}

.plakat {
    height: 100%;
    width: 100%;
    position: relative;
    
}

  
.plakat img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.kanpboks {
    padding-top: 5%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    
    
}
  
.knap {
  background-color: #F9D74D;
  color: black;
  border: none;
  width: 50%;
  height: 50px;
  font-size: 2vw;
  display: block;
  margin: 0 auto;
  text-align: center;
}


/* bestil billet mobile */

#bestilbillet{

    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: #D9D9D9;
    padding: 10%;


}


#bestilbillet h3{
    padding-bottom: 40px;
    font-size: 40px;
}


#bestilbillet h5{
    padding-right: 10%;
    padding-left: 10%;
    font-weight: bold;
}

#bestilbillet h1{
    padding-bottom: 80px;
}

/* bestil billet laptop */

#bestilbilletlaptop{

 display: none;

}

/* medhjælper */

#medhjælperlaptop{
display: none;
}

#medhjælperkontrol{
    width: 100%;
    height: 100%;
}



.plakat2 {
   height: 100%;
    width: 100%;
    position: relative;
    text-align: center;

    padding-top: 150px;
    
    
}

.plakat2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#medhjælper {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 5vw;
    color: #F9D74D;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#medhjælpertekst h5{
    padding-right: 20%;
    padding-left: 20%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;

}

.knap2 {
    background-color: #D9D9D9;
    color: black;
    border: none;
    width: 25%;
    height: 50px;
    font-size: 2.2vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

/* nedtælningnen */


#nedtælling{

background-color: #F9D74D;
text-align: center;
height: 100%;

}

#nedtælling h3{
    padding-top: 10%;
    font-size: 25px;
}

#demo{
    margin-top: 8%;
    text-align: center;
    font-size: 55px;
    padding-bottom: 5%;
    
}

/* nyhedsbrev */



.nyhedsbrev {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}
  
  
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  
  
input[type=submit] {
    background-color: #F9D74D;
    color: black;
    border: none;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}

.knap3 {
    background-color:#F9D74D;
    color: black;
    border: none;
    width: 25%;
    height: 50px;
    font-size: 2.2vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}


/* footer */

  
footer {
    background-color: #BBBBBB;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 5%;
   
}

  
.footer {
    flex-basis: 100%;
    margin-bottom: 20px;

}

.footer h4{
    font-size: 20px;
    font-weight:bolder
}

.footer3 {
    display: none;

}
.footer3 h4 {
    font-size: 20px;
    font-weight:bolder 

}

/* programsiden */

.programsidelaptop{
    display: none;
}

#programside {
    display: flex;
    flex-direction: column;
}
  
#programbokse {
    background-color: #ccc;
    margin: 60px;
    padding: 20px;
    hyphens: auto;
}
  
#programbokse:first-child {
    margin-top: 50px;
}


#programside h2, p,h3 {
    margin: 15px;
    padding: 0;
    hyphens: auto;
    
}
    
#programside h1{
    hyphens: auto;
    font-size: 6vw;
    color: #F9D74D;
    width: 70%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#programside h2{
    hyphens: auto;
    font-size: 6vw;
    color: black;
    width: 100%;
}
  

  

  

/* laptop repsonsiv */

@media (min-width: 811px) {

    /* header */

    nav {
        display: flex;
        align-items: center;
    }

    .knap4 {
        background-color: #F7CA11;
        color: black;
        border: none;
        width: 80px;
        height: 20px;
        font-size: 10px;
        margin: 0 auto;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }
    .knap4:hover{
      
        background-color: #fff;
        
        
    }
   

    .hamburger-menu {
        display: none;
        
    }

    #iconer{
        display: none;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        border-radius: 5px;
    }
  

    /* main */

    /* plakat */

    .plakat{
        display: none;
    }

   

  

    .plakatlaptop{
    display: block;
    height: 100%;
    width: 105%;
    position: relative;

    }

    .plakatlaptop img{

     height: 100%;
     width: 100%;
     object-fit: cover;

    }

    /* bestil billet laptop */

    #bestilbillet{
    display: none;

    }

    #bestilbilletlaptop {
        display: flex;
        padding-top: 50px;
    }
      
    #billetbillede {
        flex-basis: 50%;
        padding-left: 40px;
    }
      
    #billetbillede img {
        width: 100%;
        padding-top: 10%;
    }

    #bestilbillet2{

        text-align: center;
        padding: 2%;
        flex-basis: 50%;
        padding-left: 40px;
        text-align: left;
    
    
    }

    #bestilbillet2 h3{
        font-size: 40px;
        padding-bottom: 15px ;
    }
    
    
    #bestilbillet2 h5{
        font-weight: bold;
    }
    
    #bestilbillet2 h1{
        padding-top: 15px;
        padding-bottom: 40px;

    }  
      


    

    

    /* nyhedsbrev */


   
   

    /* footer */

    footer{
        text-align: left;
    }

    .footer {
      flex-basis: 30%;
    }
    .footer3 {
        display: block;
        
        
    }

    /* programside */

    #programside{
        display: none;
    }

    #programsidelaptop{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: auto;
        overflow-x: auto;
        flex-basis: 25%;
    }

    
  
  

    


}



@media (min-width: 1200px) {

    /* medhjælper laptop */

    
    #medhjælperkontrol{
        display: none;
    }


    
    #medhjælperlaptop {
        display: flex;
    }
      
    #medlaptoptkest {
        flex-basis: 50%;
        padding-right: 10px;
    }
      
    #medhjælperbillede {
        flex-basis: 50%;
        padding-top: 10%;
        padding-right: 40px;
    }
      
    #medhjælperbillede img {
        width: 100%;
    }
      
    
    #medhjælpertekstlaptop{
    
        text-align: center;
        padding: 5%;
        flex-basis: 50%;
        padding-left: 40px;
        text-align: left;
        
        
    }
    #medhjælpertekstlaptop h5{

        font-size: 1vw;
        }

    #medhjælpertekstlaptop h3{
        padding-top: 50px;
        font-size: 40px;
        padding-bottom: 15px;
        padding-left: 20px;

    }
        
        
    #medhjælpertekstlaptop h4{
    
    font-weight: 900;
     font-size: 2vw;      
    }
   
   
   
   
   
   
}


@media (max-width: 1200px) {


    

 .nav-link{
 font-size: 14px;
 margin: 0 15px;
 }


}